@{
    ViewBag.Title = "Home Page";
}
<div id="app">
    <v-card>
            <v-layout>
              <v-app-bar title="Application"></v-app-bar>
                <v-main style="min-height: 300px;">
                    <v-btn v-on:click="enableTracing">Enable tracing</v-btn>
                    <v-btn>Disable tracing</v-btn>
                    <v-btn>Get trace data</v-btn>
                </v-main>
            </v-layout>
          </v-card>
</div>

@section scripts {
    <script>
          const { createApp } = Vue
          const { createVuetify } = Vuetify
          
          const vuetify = createVuetify({theme: {
                                             defaultTheme: 'dark'
                                           }});
          
          const app = createApp({
            data() {
                return {
                    name: 'Vue.js'
                  }
            },
            methods: {
                 enableTracing: function (){
                    alert('ok')
                }
            }
          })
          app.use(vuetify).mount('#app')
    </script>
}
